<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "agrw-shyam", "https://github.com/agrw-shyam", class: "text-white" %></small>
  </div>
</footer>